*.bin

# Visual Studio / MSVC
*.obj
*.o
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.tlog/
*.lastbuildstate
*.ipch
*.aps
*.ncb
*.sdf
*.opensdf
*.unsuccessfulbuild
*.mod
*.ifc
*.ifc.d.json
*.module.json

# Build directories
x64/
bin/
obj/
packages/

# Rider / JetBrains
.idea/
*.iml
/.idea.CppTesting/
_ReSharper.Caches/

# Solution files? Optional if you want them versioned
# *.sln
# *.vcxproj*
# *.filters

# Dataset / large files
*.bin

# VS Code
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.userprefs